NET TMDSp_clock	 	LOC="P41" | IOSTANDARD=LVDS_33 ;
NET TMDSn_clock	 	LOC="P40" | IOSTANDARD=LVDS_33 ;
NET TMDSp(0)         LOC="P44" | IOSTANDARD=LVDS_33 ;
NET TMDSp(1)         LOC="P46" | IOSTANDARD=LVDS_33 ;
NET TMDSp(2)         LOC="P48" | IOSTANDARD=LVDS_33 ;
NET TMDSn(0)         LOC="P43" | IOSTANDARD=LVDS_33 ;
NET TMDSn(1)         LOC="P45" | IOSTANDARD=LVDS_33 ;
NET TMDSn(2)         LOC="P47" | IOSTANDARD=LVDS_33 ;
NET pixclk  LOC = "P84" | IOSTANDARD = LVTTL | PERIOD = 40ns;
NET pixclk       TNM_NET = clk_ref_grp;
TIMESPEC TS01 = PERIOD : clk_ref_grp :40 : PRIORITY 1;   # 25.00 MHz

